Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

.kdev4/
.clang/
.directory
Content/StarterContent/
Content/AnimStarterPack/

*.sln
*.suo
*.workspace
*.pri
*.pro
*.kdev4
Makefile
CMakeLists.txt
